<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="ie=edge" http-equiv="X-UA-Compatible">
		<link href="/favicon.svg" rel="icon">

		<meta content="index, follow" name="robots">

		<title>{{ title }}</title>

		{% include "metatags.njk" %}

		<style>
			{% addStyle 'tailwind.css' %}
		</style>
	</head>

	<body class="bg-gray-200 dark:bg-slate-900 flex flex-col items-center text-gray-600 dark:text-gray-400">
		{% include 'header.njk' %}

		<main class="max-w-3xl leading-8 px-6 lg:px-0 pb-16">
			<section>
				<h1 class="text-3xl md:text-4xl font-bold leading-relaxed md:leading-relaxed mt-3 text-gray-700 dark:text-gray-400">
					{{ title }}
				</h1>

				<div class="mt-7 text-center text-sm">
					Escrito por {{ by }} em {{ date }}
				</div>

				{# <div class="text-gray-500 mt-8 flex justify-between flex-wrap gap-2 text-xs">
					<span class="flex items-center gap-2">
						<i class="w-7 h-7" data-lucide="pencil-line"></i>
						De <strong>{{ date }}</strong>
					</span>

					<span class="flex items-center gap-2">
						<img alt="" class="w-7 h-7 border border-gray-400 rounded-full" src="{{ byPhoto }}">
						Por <strong class="text-gray-700">{{ by }}</strong>
					</span>
				</div> #}

				{# <hr class="border-t-2 border-gray-500 mt-6 mb-6"> #}
			</section>

			<div class="mt-4 md:mt-3 mb-12 md:mb-10 text-center">
				{% for tag in tags %}
					<span class="rounded-md bg-blue-200 dark:bg-blue-500 dark:bg-opacity-70 text-blue-600 dark:text-blue-300 text-sm py-1 px-2 mx-3">{{ tag }}</span>
				{% endfor %}
			</div>

			<div class="relative font-semibold tracking-wide mb-10 overflow-hidden rounded-md shadow-sm">
				<div class="h-52 md:h-80 relative overflow-hidden">
					<img alt="Imagem Ilustrativa de Código." class="absolute min-w-full top-1/2 -translate-y-1/2" src="{{ photo }}">
				</div>

				<div class="absolute top-3 right-3 text-gray-700">
					<i data-lucide="presentation"></i>
				</div>

				<div class="text-gray-600 dark:text-gray-400 bg-slate-300 dark:bg-slate-800 rounded md:text-lg leading-7 md:leading-8 pt-9 pb-12 px-12">
					<hr class="mt-0 border-y-2 w-40 mx-auto mb-7 rounded border-slate-500">

					<p>{{ prelude }}</p>
				</div>
			</div>

			<div class="flex justify-center">
				<ul class="mb-7 md:text-lg leading-10 text-gray-800 dark:text-gray-300 px-4 md:px-14 w-fit flex flex-col gap-2">
					{# <li class="flex items-center">
						<i class="h-5 mr-4 text-gray-400" data-lucide="play"></i>
						<a class="hover:text-zinc-500" href="#o-que-e-devops">Como Você Ganha?</a>
					</li> #}

					{% for topic in topics %}
						<li class="flex items-center">
							<i class="h-5 mr-4 text-gray-400" data-lucide="dot"></i>
							<a class="hover:text-zinc-500" href="#{{ topic }}">{{ topic }}</a>
						</li>
					{% endfor %}

					{# <li class="flex items-center">
						<i class="h-5 mr-4 text-gray-400" data-lucide="brain"></i>
						<a class="hover:text-zinc-500" href="#o-que-e-devops">Pronto?</a>
					</li> #}
				</ul>
			</div>

			{{ content | safe }}
		</main>

		{% include 'footer.njk' %}
		{% include 'menu.njk' %}

		<script>
			{% addScript 'build/lucide-icons.js' %}
		</script>

		<script>
			{% addScript 'load-theme.js' %}
		</script>

		<script>
			{% addScript 'nav.js' %}
		</script>
	</body>
</html>