<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="ie=edge" http-equiv="X-UA-Compatible">
		<link href="favicon.svg" rel="icon">

		<meta content="index, follow" name="robots">

		<title>{{ title }}</title>

		{% include "metatags.njk" %}

		<style>
			{% addStyle 'tailwind.css' %}
		</style>
	</head>

	<body class="bg-gray-200 dark:bg-slate-900 flex flex-col items-center text-gray-600 dark:text-gray-400">
		{% include 'header.njk' %}

		<main class="max-w-full sm:max-w-3xl leading-8 px-6 lg:px-0 pb-16">
			<section>
				<h1 class="text-3xl font-semibold mt-3 text-gray-700 dark:text-gray-400">
					<i data-lucide="newspaper" class="inline"></i> {{ title }}
				</h1>

				<hr class="border-t-2 border-gray-400 dark:border-gray-600 mt-4 mb-6">
			</section>

			{{ content | safe }}

			<ul class="mb-7 md:text-lg leading-8 text-gray-800 dark:text-gray-300 mx-0 px-0 w-full flex flex-col gap-5">
				{% for post in collections.posts %}
				<a class="hover:text-zinc-500 border dark:border-gray-700 shadow-sm bg-gray-100 dark:bg-slate-800 px-8 py-6 rounded-lg flex flex-col gap-4" href="{{ post.url }}">
					<span class="font-semibold">{{ post.data.title }}</span>

					<div class="text-zinc-500 text-sm truncate">
						{{ post.data.prelude }}
					</div>
				</a>
			{% endfor %}
			</ul>
		</main>

		{% include 'footer.njk' %}
		{% include 'menu.njk' %}

		<script>
			{% addScript 'build/lucide-icons.js' %}
		</script>

		<script>
			{% addScript 'load-theme.js' %}
		</script>

		<script>
			{% addScript 'nav.js' %}
		</script>
	</body>
</html>