<meta name="robots" content="index, follow">
<meta name="robots" content="max-image-preview:large">
<meta name="hostname" content="noticias.digiton.tech">
<link href="/favicon.svg" rel="icon">

<meta content="Notícias, artigos, blog e tutoriais da tecnologia para seu negócio." name="description">

<meta name="image" content="https://digiton.tech/images/preview.png">
<meta itemprop="image" content="https://digiton.tech/images/preview.png">

<meta name="twitter:site" content="@digiton">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Digiton Tecnologia">
<meta name="twitter:description" content="Notícias, artigos, blog e tutoriais da tecnologia para seu negócio.">
<meta name="twitter:image:src" content="https://digiton.tech/images/preview.png">

<meta property="og:image" content="https://noticias.digiton.tech/images/preview.png">
<meta property="og:image:alt" content="Notícias, artigos, blog e tutoriais da tecnologia para seu negócio.">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:site_name" content="Digiton">
<meta property="og:type" content="object">
<meta property="og:title" content="Digiton Noticias">
<meta property="og:url" content="https://noticias.digiton.tech">
<meta property="og:description" content="Notícias, artigos, blog e tutoriais da tecnologia para seu negócio.">

<link color="#000000" href="https://noticias.digiton.tech/images/full-logo.svg" rel="mask-icon">
<link href="https://noticias.digiton.tech/images/full-logo.svg" rel="fluid-icon" title="Digiton">