<meta name="robots" content="index, follow">
<meta name="robots" content="max-image-preview:large">
<meta name="hostname" content="noticias.digiton.tech">

<meta content="Notícias, artigos, blog e tutoriais da tecnologia para seu negócio." name="description">

<meta name="image" content="https://noticias.digiton.tech/images/preview.png">
<meta itemprop="image" content="https://noticias.digiton.tech/images/preview.png">

<meta name="twitter:site" content="@digiton">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Digiton Tecnologia">
<meta name="twitter:description" content="Notícias, artigos, blog e tutoriais da tecnologia para seu negócio.">
<meta name="twitter:image:src" content="https://noticias.digiton.tech/images/preview.png">

<meta property="og:image" content="https://noticias.digiton.tech/images/preview.png">
<meta property="og:image:alt" content="Notícias, artigos, blog e tutoriais da tecnologia para seu negócio.">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:site_name" content="Digiton">
<meta property="og:type" content="object">
<meta property="og:title" content="Digiton Noticias">
<meta property="og:url" content="https://noticias.digiton.tech">
<meta property="og:description" content="Notícias, artigos, blog e tutoriais da tecnologia para seu negócio.">

<link rel="mask-icon" color="#e5f9ff" href="https://noticias.digiton.tech/images/full-logo.svg">
<link rel="fluid-icon" title="Digiton" href="https://noticias.digiton.tech/images/full-logo.svg">

<!-- General favicon -->
<link rel="icon" type="image/svg+xml" href="https://noticias.digiton.tech/favicon.svg">
<link rel="shortcut icon" href="https://noticias.digiton.tech/favicon.svg">
<link rel="icon" type="image/png" sizes="32x32" href="https://noticias.digiton.tech/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://noticias.digiton.tech/images/favicon/favicon-16x16.png">

<!-- Apple Touch Icon -->
<link rel="apple-touch-icon" sizes="180x180" href="https://noticias.digiton.tech/images/favicon/apple-touch-icon.png">

<!-- Android Icons -->
<link rel="icon" type="image/png" sizes="192x192" href="https://noticias.digiton.tech/images/favicon/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="https://noticias.digiton.tech/images/favicon/android-chrome-512x512.png">

<!-- Theme Color (Optional) -->
<meta name="theme-color" content="#e5f9ff">

<!-- Opera Speed Dial (Fallback PNG) -->
<meta name="application-name" content="Digiton Noticias">
<meta name="description" content="Notícias, artigos, blog e tutoriais da tecnologia para seu negócio.">
<meta name="mobile-web-app-capable" content="yes">

<link rel="manifest" href="https://noticias.digiton.tech/images/favicon/manifest.json">